[2016-07-20 04:30] nolds9 opened #1 "Importing vue-materials from npm fails"
Hi there, currently get the following error in Node console following fresh install and config.
[code]

Node version is 5.5.0 if that makes a difference.

[2016-07-28 23:01] johnleider commented on #1
Currently vue-materials assumes you will be using transforming the import with babel.  I'll build the package into a UMD.

[2016-07-29 00:37] johnleider commented on #1
This has been fixed with latest release.

[2016-07-29 00:37] #1 closed

[2016-08-01 10:06] zhuewizz opened #2 "ERROR in ./dev/index.js"
i npm run dev
ERROR in ./dev/index.js
Module not found: Error: Cannot resolve 'file' or 'directory' ./components/_index in F:\vue-materials\dev
 @ ./dev/index.js 7:13-43

[2016-08-01 10:09] zhuewizz opened #3 "http://johnleider.com/vue-materials-docs/"
Dialog:-->click button-->Toast
console: build.js:6 Uncaught TypeError: Cannot read property 'keyCode' of undefined

[2016-08-04 12:14] johnleider commented on #2
Could you post how you are importing the package?

[2016-08-04 12:14] johnleider commented on #3
This was introduced with a Vue beta update, I'll take a look at it.

[2016-08-04 12:15] johnleider commented on #3
This was introduced with the change to native events in Vue, will take a look at it.

[2016-08-04 22:50] johnleider commented on #3
This has been fixed.

[ce9da5b](https://github.com/johnleider/vue-materials/commit/ce9da5bdfa67d47cd79c6da0a8dc8e347da1605d)

[2016-08-04 22:50] #3 closed

[2016-08-20 16:38] ccverak opened #4 "MaterializeCSS SASS support"
How to use SASS?

[2016-08-20 17:55] #4 closed

[2016-08-22 05:07] CoveTechnologyAus opened #5 "$ is not defined"
Hi

I am testing vue-materials and am recieving the following console error. I am assuming this does not require jquery. Do you have any ideas? (I am using Vue 2.0RC2)

Note: everything seems to be working - just getting this error in the console.

Chrome Console:
vue-materials.min.js:2Uncaught ReferenceError: $ is not defined

[2016-08-22 07:00] CoveTechnologyAus commented on #5
Upon further investigation, if I include jQuery the error changes to:
vue-materials.min.js:2Uncaught TypeError: $(...).dropdown is not a function

I only have the following component on the page at this point and have included ``` Vue.use(Materials) ``` in my main.js.
[code]

[2016-08-22 22:34] CoveTechnologyAus commented on #5
Ok I have found that this solution requires the actual Material-CSS library (css, js and jquery) to be included in the App. I have fixed this and all is working now. Closing.

[2016-08-22 22:34] #5 closed

[2016-08-23 00:45] johnleider commented on #2
Closing due to no response.

[2016-08-23 00:45] #2 closed

[2016-08-23 01:11] CoveTechnologyAus opened #6 "Cannot pass color props to Nav Component"
I have noticed if I try to colour the Nav component it does not respect my colour style settings.
eg.
[code]

This will set the z-depth OK but does not set the color of the Nav.

Is there another way I should be setting the colors outside the way Material-css shows to do it?

[2016-08-27 17:25] stephane commented on #5
The issue about 'dropdown' -> 'v-dropdown' still there in the documentation site.

[2016-08-30 06:14] stephane commented on #5
[code]

in the plugins list on my webpack conf do the trick for me.

[2016-08-31 12:43] johnleider commented on #6
I'll take a look at this.

[2016-09-04 23:03] nsang92 opened #7 "Click Event Not Working on Button"
Trying to bind a click event to a button, and it is not being registered.

Does not work:
`<v-btn @click="clickTest">
            <v-icon>keyboard_arrow_up</v-icon>
        </v-btn>`

Works:
`<button @click="clickTest">
            <v-icon>keyboard_arrow_up</v-icon>
        </button>`

[2016-09-04 23:17] nsang92 commented on #7
click.native works

[2016-09-07 16:57] johnleider commented on #7
Vue 2.0 components that do not have explicitly defined events must use .native as you have already posted.

[2016-09-07 16:57] #7 closed

[2016-09-17 19:59] jeffcj opened #8 "Usage with lazy loaded routes"
Hello,
   Was not able to get this to work with vue-router + lazy loaded routes. I believe it is because the materializecss.js binds a number of items on document.ready. I realize this issue is external to the core vue-materials module, but any thoughts on how it could be adapted to support lazy loaded routes?

Thanks!
Jeff

[2016-09-21 02:35] johnleider commented on #8
Could you provide an example of your usage so I can address your issue? Thank you!

[2016-09-23 07:01] cristianstenico opened #9 "Modal directive does not pass parameters correctly"
I think there is an error on the modal directive in passing parameters to the modal.
the call is
`$(el).leanModal(binding.expression || {})`
but according to the documentation ([here](https://rc.vuejs.org/guide/custom-directive.html#Directive-Hook-Arguments)), 'expression' attribute is a string, not an object.
So, if I define a modal call in this way:
`<v-btn v-modal:id="{dismissible: false}">Clic

[2016-09-23 13:00] Outpox commented on #6
@johnleider: I'm running in the same problem, have you had the time too look into it? :)

[2016-09-23 13:01] johnleider commented on #6
No, I will get to this tonight.

[2016-09-23 13:05] johnleider commented on #9
I'll look into this.  In my testing, the expression was converting object strings into object literals.

[2016-09-23 13:11] cristianstenico commented on #9
Maybe I've done something wrong, but in my case I see the correct behaviour only using binding.value.

Also, is there a way to capture the closing event?
I've seen that the component on the 'close' method emits the 'close' event, but I can't capture it on parent component with `<v-model @close="someFunction"></v-model>`.
Thank you.

[2016-09-23 17:51] johnleider commented on #9
I'll check that out as well.

[2016-09-23 22:24] johnleider commented on #9
The open and close methods are there if you want to manually open or close the modal through other actions and then capture when the action happens.  The proper method for capturing close event natively

[2016-09-23 22:26] #9 closed

[2016-09-23 22:27] johnleider commented on #8
After doing a little bit of research, the best way for you to handle this would be to manually call the materializecss.js methods after load that you need.  All of the vue-material components that use js from materializecss should automatically do this for you, regardless of when they are loaded.

If this does not address your issue, please open a new ticket.

[2016-09-23 22:27] #8 closed

[2016-09-23 23:04] johnleider commented on #6
Materializecss wraps the navbar in a div, which is why the z-index was showing.  It is relatively positioned whereas the navbar is fixed, so the color is being applied to the outer div, but not the navbar.  Due to this structure, it made the most sense to add a specific prop for setting the navbar's class.

This will be nav-class="" and will be published later tonight.

[2016-09-23 23:04] #6 closed

[2016-09-24 00:15] Outpox commented on #6
Good to me!
Thanks for your work :)

On Sat, Sep 24, 2016, 01:04 John Leider <notifications@github.com> wrote:

[2016-09-25 14:00] ribsousa opened #10 "Paralax content"
Parallax support content within it
I added, but did not work!

[code]

[2016-09-26 03:11] johnleider commented on #10
Fixed with commit [ceb8a](https://github.com/johnleider/vue-materials/commit/c643101ffb0e38323da0d7583cfc76302c389109).

Published to 1.0.2-rc.1

[2016-09-26 03:11] #10 closed

[2016-09-26 11:32] ribsousa opened #11 "Update materialize"
Thank you, great work!

Add support materializes 0.97.7?

[2016-09-26 15:01] johnleider commented on #11
I'll take a look at the changes and see when I can squeeze them in.

[2016-09-26 16:36] ribsousa commented on #11
Ok, thanks!

[2016-09-26 16:36] #11 closed

[2016-09-28 10:31] mygnu opened #12 "question about v-text-input and v-bind?"
how do you bind the value v-bind='var' doesn't work

[2016-09-29 01:16] johnleider commented on #12
The correct syntax would be v-bind:argument.modifier="expression". [Custom Directives](http://rc.vuejs.org/guide/custom-directive.html) on VueJS's documentation should help you further.

[2016-09-29 19:52] ribsousa opened #13 "Collapse button navbar"
Collapse button navbar for show side-nav?

[2016-09-30 19:54] johnleider commented on #13
Could you elaborate please.

[2016-10-02 05:33] mygnu commented on #12
still confused about how do I bind a local variabel i.e. `username` to a `<v-text-input>` ??

[2016-10-02 11:57] johnleider commented on #12
With v-model, the same as you would with a regular input. v-model="yourVariable".

[2016-10-05 03:22] mygnu commented on #12
[code]

[2016-10-05 03:23] johnleider commented on #12
I'll take a look.

[2016-10-05 03:43] johnleider commented on #12
This has been fixed. Run
[code]
and you should be good to go.

[2016-10-05 03:43] #12 closed

[2016-10-05 04:26] mygnu commented on #12
works now thanks

[2016-10-05 08:44] beeplin opened #14 "the doc link is broken"
when visiting http://johnleider.com/vue-materials-docs it just returns a text file.

[2016-10-05 19:57] johnleider commented on #14
Thank you, this has been resolved.

[2016-10-05 19:57] #14 closed

[2016-10-09 21:40] juppdes opened #15 "Uncaught ReferenceError: $ is not defined"
In a new project, after installing vue-materials by npm normally I implemented the code below in

main.js:
          import Vue from 'vue'
          import App from './App'
          import Materials from 'vue-materials'
          Vue.use(Materials
          new Vue({
            el: '#app',
            render: h => h(App)
          })

App.vue:  without "<>"
          template
            div id=

[2016-10-10 12:22] johnleider commented on #15
Ty, I'll take a look into it.

[2016-10-11 01:22] johnleider commented on #15
Are you including jquery in your index file? It is a requirement for Materialize.css and seems that this is the problem.

[2016-10-11 05:39] CihanAksoy opened #16 "Materialize is not defined"
`<v-btn-link @click.native="$dialog('Test')" href="javascript:void(0)">Toast!</v-btn-link>`

ReferenceError: Materialize is not defined

[2016-10-11 15:11] juppdes commented on #15
Thank you friend, was really just that.

[2016-10-11 15:11] #15 closed

[2016-10-11 16:06] johnleider commented on #16
Are you including the Materialize.js file before your main index in your index.html?

[2016-10-13 14:19] #16 closed

[2016-10-14 19:27] elisangelacarla opened #17 "Collection"
please if anyone can help me with the following situation: the need to click the collection item is highlighted, as sought in the materials documentation but could not solve. thanks

[2016-10-14 21:29] juppdes opened #18 "Help with implementation"
John, could you send me the complete source http://johnleider.com/vue-materials-docs page?
then or some documentation on the use of components of your library?
I'm having some difficulties to implement them.
Thank you.

[2016-10-17 12:17] johnleider commented on #18
[https://github.com/johnleider/vue-materials-docs](url)

[2016-10-17 12:17] #18 closed

[2016-10-17 22:41] johnleider commented on #17
You are looking to highlight the collection item on click, is that correct?

[2016-10-17 22:41] #13 closed

[2016-10-20 18:58] #17 closed

[2016-10-26 04:23] zhanghaowx opened #20 "v-checkbox doesn't work with v-on:click event"
[code]
when used above code in a vue component
[code]
The `console.log` never gets hit.

**Workaround**: put `v-on:click` on .input-field
[code]

[2016-10-26 12:37] johnleider commented on #20
This is due to Vue 2.0's update to native events that are not explicitly defined in the component. In order to propagate the event, you need to use v-on:click.native.

Documentation: [http://vuejs.org/guide/migration.html#Listening-for-Native-Events-on-Components-with-v-on](url)

[2016-10-26 12:37] #20 closed

[2016-10-27 14:27] mfcarneiro opened #21 "Cant' use vue-materials"
Hi there,

I want to use vue-materials on my project, but I had some problems.

1. When I install, npm warns me (Could not be the real problem, I guess..):

 ![issue 1](https://cloud.githubusercontent.com/assets/13247083/19770496/3ead7aa4-9c3e-11e6-9098-78332d61c159.png)

2.Already updated node and npm:

![issue 2](https://cloud.githubusercontent.com/assets/13247083/19770973/0ff44a6a-9c40-11e6-950

[2016-10-29 12:42] johnleider commented on #21
Try

import Vue from 'vue'
import Materials from 'vue-materials'

Vue.use (Materials)

[2016-10-29 16:04] mfcarneiro commented on #21
I already did, it's basics. I mentionate this on the third topic

![captura de tela de 2016-10-29 14-03-00](https://cloud.githubusercontent.com/assets/13247083/19831093/82ea7322-9de0-11e6-8896-fc5fc950db6f.png)

[2016-10-29 16:11] johnleider commented on #21
I needed to make sure since your example wasn't very clear to me. The npm warnings have nothing to do with vue-materials and will not affect it working. Are you receiving any actual errors when loading your page? Make sure you are including materialize css and js files as those are not part of this package.

[2016-10-29 16:51] mfcarneiro commented on #21
Have you deleted my reply?

Where are in the documentation says about the link and script of materialize? i can't found.

I follow your recomendation and now works

Thanks for the help.

[2016-10-29 16:51] #21 closed

[2016-10-30 13:53] lukaszb opened #22 "event binding doesn't work for v-btn / v-btn-link"
Basically my method is not called for some reason. I have only just started with vuejs so might be missing something simple.

Anyway, here is a snippet:

[code]

However, if I attach event handler to the inner element it works (but not as expected - due to buttons padding user would need to click in on the inner element itself)

[code]

[2016-11-01 13:03] johnleider commented on #22
Duplicate of [Issue #20](https://github.com/johnleider/vue-materials/issues/20)

[2016-11-01 13:03] #22 closed

[2016-11-08 10:05] kenng opened #23 "Improvement on documentation"
Hey, thanks for the nice work putting the materialcss features in Vuejs! It's really handy!

Some thought after using it for a while.

- maybe can improve on the documentation:
  * indicate user should include the materialcss javascript and its css file, as this part is not immediately obvious. I thought it will work after Vue.use(Materials).
  * more on example for the usage like for the componen

[2016-11-09 00:04] zhanghaowx opened #24 "Change v-modal of a v-radio has no effect"
I am not sure if it is a limitation from vue.js or a bug, but here it is:
[code]

If I change value of `controllerIndex` later, I can see value of v-radio has changed as expected but the checked status doesn't change.

[![Capture.png](https://s11.postimg.org/eorxptkxf/Capture.png)](https://postimg.org/image/xtv6zkzlb/)

Also a small but maybe worth noting thing, I have to convert my number to a st

[2016-11-09 01:02] johnleider commented on #24
I'll take a look, ty.

[2016-11-09 01:49] johnleider commented on #24
This is fixed with commit [0fa5b4ac8bd7a515c1d0f646726580feb158f758](https://github.com/johnleider/vue-materials/commit/0fa5b4ac8bd7a515c1d0f646726580feb158f758). Go ahead and pull vue-materials@1.0.3-rc.4 and you should be good to go.

[2016-11-09 01:49] #24 closed

[2016-11-09 15:30] zwarag commented on #23
So i need to `npm install materialize-css` ?

[2016-11-09 23:09] eminpala opened #25 "Can you give example how can we use these without webpack?"
This is for a special project combined with ASP.NET.

I couldn't figure out and use  Vue.use(Materialize) successfully.

Thanks

[2016-11-10 21:20] zhanghaowx commented on #24
Verified work. Thanks for the quick fix!

[2016-11-10 21:22] zhanghaowx commented on #23
Same case for me, took a while to realize this.

[2016-11-10 21:40] johnleider commented on #25
Currently vue-materials doesn't have a standalone build, although I don't see why it couldn't. I'll poke around with it tonight.

[2016-11-10 22:00] eminpala commented on #25
Ohh Great.. Looking forward to... Thanks!

[2016-11-21 08:27] alphaelf opened #27 "TypeError: $(...).characterCounter is not a function"
why this error happen?

did your package require all dependencies?

[2016-11-21 08:38] alphaelf commented on #27
Oops! my bad i forgot add material js file.

[2016-11-21 16:21] johnleider commented on #27
This is something I missed with the documentation that I need to get around to. Sorry for the inconvenience.

[2016-11-21 16:21] #27 closed

[2016-11-21 16:24] johnleider commented on #25
I have updated the package to work when required into a project through html, as long as Vue has already been included.

[2016-11-21 16:24] #25 closed

[2016-11-23 11:01] cristianstenico opened #28 "Build rc5 break v-checkbox component"
Last build broke the v-checkbox component, now I see a text input.
I looked at the html and actually the component does not have the "type" attribute.
In the minified code I noticed that now that attribute is defined in the "staticAttrs" variable, while in the previous builds it was defined in "attrs".
Maybe is there something wrong with webpack configuration (or maybe I'm missing something)?

[2016-11-24 16:43] j6montoya opened #29 "Disable default "Choose your options" for other languages."
I am developing an application in spanish language. But I don't know how change the text "Choose your options" on component  `<v-select>.`

There is some form.

[2016-11-27 05:09] johnleider commented on #28
This may be something with your build process. Could you please post it? As well, what vue version are you on?

[2016-11-27 05:10] johnleider commented on #23
I'll be working on the documentation in the coming weeks, thank you for your suggestions.

[2016-11-30 19:11] zhanghaowx opened #30 "Set v-model for <v-select multiple></v-select> doesn't work"
Version: 1.0.3-rc.4

When I use `<v-select v-model="selectedItems" multiple></v-select>` and selectedItems is set an as array of values. The component doesn't respect initial values in selectedItems.

Also, I think it would be worth noting in the docs that the `:items` property should be like
[code]

This is a great library, thanks for the work!

[2016-12-01 05:18] zhanghaowx commented on #28
Same with me after upgrade from rc4 => rc5

[2016-12-02 01:40] johnleider commented on #28
I need some additional information. Could you please post the contents of:

package.json
your webpack config

Also, please post the markup you are using. I cannot reproduce this bug on vue@2.1.3 and vue-materials@1.0.3-rc.5.

[2016-12-02 01:46] johnleider commented on #23
I'm currently updating the documentations with some of the suggestions above. @kenng you mentioned that you would be interested in helping with some of the updates, if you use reddit, send me a dm to /u/zeroskillz.

[2016-12-02 01:53] johnleider commented on #30
Could you provide an example of your markup, the expected behavior, and what resulting behavior please? Also, thank you for the documentation catch.

[2016-12-02 02:06] johnleider commented on #29
This has been updated with commit [#8532d29](https://github.com/johnleider/vue-materials/commit/8532d29857982b849cb3937c062245dd8eff40a5). Update your package to vue-materials@1.0.5-rc.6 and install. Set the attribute "select-text" on your select to change the default text.

[2016-12-02 02:06] #29 closed

[2016-12-02 04:07] amor520 commented on #23
nice

[2016-12-02 05:18] zhanghaowx commented on #30
Here is an example:

[code]

[code]

Ideally the multiple selector should have all checkboxes checked initially because that's the initial value in statesFiltered. However none of them get checked

[2016-12-02 05:20] johnleider commented on #30
ty! I'll get this fixed asap.

[2016-12-02 05:28] zhanghaowx commented on #28
The same code
[code]
works fine in 1.0.3-rc.4 but doesn't work in 1.0.3-rc.5. And that's only I made.

By checking the generated HTML
[code]

`type="checkbox"` was seen in 1.0.3-rc.4 but missing in 1.0.3-rc.5

Hope that helps.

[2016-12-02 13:14] johnleider commented on #28
I'm a bit dumbfounded here. Just installed a new project, added vue-materials, cannot reproduce. The [checkbox ](https://github.com/johnleider/vue-materials/blob/master/src/components/checkbox.vue) component has not changed for 5 months and has the type set to checkbox. RC5 only had one change that was not related to the checkbox in anyway. Is there a way you could provide a jsfiddle or repository

[2016-12-02 13:33] cristianstenico commented on #28
I think the problem was in your minification process.
If you look at the minified file in rc5, you can find this code:
`("input",{ref:"checkbox","class":classes,attrs:{id:id,name:name,disabled:disabled},staticAttrs:{type:"checkbox"}})`
while in rc4 (and in rc6) the code is different:
`("input",{ref:"checkbox",class:e.classes,attrs:{type:"checkbox",id:e.id,name:e.name,disabled:e.disabled}})`
I don'

[2016-12-02 13:58] johnleider commented on #30
This has been fixed with commit [43ea5e0](https://github.com/johnleider/vue-materials/commit/43ea5e0a4127dc8089a66275aec9db1bb8730e01).

[2016-12-02 13:58] #30 closed

[2016-12-02 14:00] johnleider commented on #28
Okay, that makes sense. I'll wait for @zhanghaowx to respond and then I'll close this ticket.

[2016-12-02 17:00] zhanghaowx commented on #28
@johnleider  The latest version (1.0.5-rc.6) works fine now.

[2016-12-02 17:01] johnleider commented on #28
Thank you for your help.

[2016-12-02 17:01] #28 closed

[2016-12-03 19:16] eminpala opened #31 "v-select doesn't refresh after array has changed."
Try to load the array from rest api. List within the select will not show the loaded data. It remains with the initial list.

[2016-12-04 13:59] johnleider commented on #31
Could you please post your vue and vue-materials version. As well, an example of your code?

[2016-12-04 15:44] eminpala commented on #31
See attached.

[vue-select.zip](https://github.com/johnleider/vue-materials/files/629621/vue-select.zip)

[2016-12-04 22:35] zhanghaowx opened #32 "v-progress-circular with flash doesn't work"
The example code
[code]
is same as
[code]

red-flash has no effect at all. The example in http://johnleider.com/vue-materials-docs also has no color changed. Expected to be the same as http://materializecss.com/preloader.html

[2016-12-07 17:18] oakdays commented on #23
Regarding the documentation, i'm having problems with adding "waves" to a button, as there is an example but not how to actually do it.

[2016-12-07 17:20] zhanghaowx commented on #23
@oakdays I think it is more a materializecss question? You can find examples at http://materializecss.com/buttons.html. The basic is add class `waves-effect waves-light` to your btn

[2016-12-07 17:22] oakdays commented on #23
Actually i just found how to do it by browsing the mixins. Just added the property :wavesLight="true" to the v-btn and it worked. I guess this should be in the documentation to help people apply waves effect to buttons.

[2016-12-07 18:52] oakdays opened #34 "Dynamic reference of modals/dropdowns"
Is there a way to reference a modal or dropdown dynamically? For example:

[code]

The id of the dropdown is not dynamic, thus leading to code issues of repeated "item" nodes.

[2016-12-09 05:08] diegoduncan21 opened #35 "Datetime and time pickers."
Hi John, nice plugin.
Would be nice count with datetime and time picker.

[2016-12-09 21:49] johnleider commented on #35
Could you elaborate please?

[2016-12-09 21:56] johnleider commented on #34
You should be able to do it like this or some variant:

[code]

I'd have to do more testing when I get home.

[2016-12-10 23:44] diegoduncan21 commented on #35
Sorry, i was supposed that materials already had one datetime and time picker natively.

[2016-12-11 00:57] johnleider commented on #35
Yes, Materialize.css has a native date picker. For additional information on this, please navigate [here](http://materializecss.com/forms.html#date-picker).

[2016-12-11 00:57] #35 closed

[2016-12-11 00:57] johnleider commented on #34
Was this able to solve your issue?

[2016-12-11 03:02] johnleider commented on #32
This is because you are using red along with red flash. They both apply specific classes. If you just use reg-flash by itself, it should work properly. I will update the documentation.

[2016-12-11 03:02] #32 closed

[2016-12-11 03:08] johnleider commented on #31
Fixed with commit [95545fb](https://github.com/johnleider/vue-materials/commit/95545fb80e608125816ffdcb5f22011de3f15a67).

[2016-12-11 03:08] #31 closed

[2016-12-13 16:18] sweinertjr opened #36 "Components not initializing on load"
Components are failing to initialize on page refresh. For example, I have a `v-select` that looks like this in my Vue component:

`
            <v-select v-model="newInstruction.action" name="action" id="action" :items="actionOptions"></v-select>
            <label for="action">Choose..</label>
`
If I refresh the page, it doesn't initialize. The materialize component only initializes properly if I

[2016-12-14 00:35] johnleider commented on #36
Could you please post an example of your index.html and app.js.

[2016-12-14 01:39] SCKelemen opened #37 "Demo/Example"
Could you please create an example app. I keep getting errors trying to set this up, and I'm not sure where I am going wrong.

[2016-12-14 04:15] #37 closed

[2016-12-14 22:44] zhanghaowx opened #38 "Modals are broken in materializecss 0.97.8"
Just want let you know that the in the latest version of materializecss 0.97.8

v0.97.8 (October 30th)
-    **Refactored Modal plugin**
-    Tabs now supported in navbar
-    Chips data can now be reinitiailized
-    Minor side nav fixes
-    FAB to toolbar component added
-    Fixed dropdown options bug

The **Refactored Modal plugin** breaks v-modal. I saw errors `Uncaught TypeError: $(...).lean

[2016-12-17 13:50] nurolopher opened #39 "Listening to Modal close event"
Hello,

Thanks for an amazing job!
I would like to know how to listen to modal close events. Did `<v-modal id="modal" v-on:close="close">` but no luck.

Regards,

Nursultan Turdaliev

[2016-12-18 15:13] johnleider commented on #39
VModal only emits an event when its methods are used to open/close. If it is closed by Materialize.css, you need to pass your callback into the options parameter. Referenced [here](http://materializecss.com/modals.html#options).

[2016-12-18 15:13] #39 closed

[2016-12-18 15:17] johnleider commented on #38
I'm looking at this and not able to reproduce errors with 0.97.8. Could you provide an example of this happening?

[2016-12-18 15:17] #36 closed

[2017-01-05 12:16] xerosanyam opened #40 "Can I use it directly on frontend ?"
Please provide the direct cdn link & instructions on how to use on frontend directly
Thanks

[2017-01-05 22:13] johnleider commented on #40
https://vuetifyjs.com/quick-start

[2017-01-08 18:32] oakdays opened #41 "Button page in docs doesn't show waves props"
Waves props, like wavesLight and wavesCircle for example, are not described in the documentation's Button page. I think it should be there, as all other props are. I think that a Waves section in the Button page should do the trick, describing all waves properties as booleans.

[2017-01-11 15:10] simon-tannai opened #42 "Vel is not a function"
Hi !

I'm trying to display a Toast, throw from method.
My simple code:
[code]

But I get an error:

My import:
[code]

Maybe I forget something ... but what ?

[2017-01-17 14:04] johnleider commented on #42
Could you please provide an example on <a href="https://jsfiddle.net/">www.jsfiddle.net</a> (or a similar service) that reproduces the problem. If necessary, create a repository for us to clone with a minimal reproduction. repositories of actual projects will generally not be accepted .

Thank you.

[2017-01-20 11:27] boyfinal opened #43 "Checkbox multiple"
I want get all value input checked to array?
Thanks!

[2017-01-20 16:29] j6montoya opened #44 "Attribute "name" in v-switch"
Hi!
Possibility to add attribute "name" in v-switch.
Thanks!

[2017-01-20 16:30] johnleider commented on #43
Please follow the <a href="https://github.com/vuetifyjs/vuetify/blob/master/.github/CONTRIBUTING.md">guidelines</a> on how to report an issue. In particular, provide an example on <a href="https://jsfiddle.net/">www.jsfiddle.net</a> (or a similar service) that reproduces the problem. If necessary, create a repository for us to clone with a minimal reproduction. repositories of actual projects will

[2017-01-22 17:23] njirap commented on #38
Hi @johnleider I confirm that I also have this error.

Materialize 0.97.8 no longer uses `leanModal`

What do you need as an example? Source code?

[2017-01-22 17:24] johnleider commented on #38
Any type of jsfiddle or codepen would suffice.

[2017-01-22 17:25] njirap commented on #38
OK lemmie work on it..

[2017-01-23 21:02] j6montoya opened #45 "v-model on v-select not update their value"
v-model on v-select not update their value

Example

[code]

[code]

[code]

Thanks!

[2017-01-25 08:10] boyfinal commented on #43
Example:
    ...
   <v-checkbox v-for="item in products" name="itemID" v-bind:value="item.id" v-model="checked">{{ item.name }}</v-checkbox>
    ...
   data () {
		return {
			products: [{id: 1, name: 'apple'}, {id: 2, name: 'samsung'}, {id: 3, name: 'Nokia'} }],
			checked: []
		}
	}
   ...
I need return array value checked.
thank.

[2017-02-02 10:51] rayoplateado commented on #38
Hi guys! any news on this?

[2017-02-02 11:34] rayoplateado opened #46 "Don't understand how to pass options to v-modal"
I've read a lot of closed issues, tried millions of different ways, checked documentation, watched source code... I don't understand how can i set opacity, or dismissible options in a v-modal.

Can you please give me some light on this?

Thank you!

[2017-02-02 11:38] rayoplateado commented on #46
I think it should be like this:

[code]

and in data:

[code]

But it's not working...

[2017-02-02 12:27] rayoplateado commented on #46
A little bit more of light. Now, changed modalParams as a function into computed:

[code]
Then, I can see this in dev Tools:

![image](https://cloud.githubusercontent.com/assets/1727368/22549320/151d0768-e94b-11e6-9d91-57a4fe20ff9d.png)

But my modal seems not to apply this params...

![image](https://cloud.githubusercontent.com/assets/1727368/22549353/3e838aaa-e94b-11e6-9714-0a937b076d74.png)

[2017-02-02 13:22] njirap commented on #38
@rayoplateado a JS fiddle is coming right up!

[2017-02-02 15:53] njirap commented on #38
@johnleider https://jsfiddle.net/oo30yt66/3/

[2017-02-02 15:54] johnleider commented on #38
Thank you. Sorry for the slow updates. I am extremely busy with my other project, vuetify. I will dedicate some time to come and clear up all the outstanding issues in this repo.

[2017-02-02 15:59] johnleider commented on #46
Params are passed through the v-modal directive. Whichever element you bind to it will pass them.

[code]

[2017-02-02 16:07] rayoplateado commented on #46
@johnleider Thank you for answering my issue.

another one.

Where are you defining modalParams in this example? I've tried in computed as a function. I can see params inside the modal in vue dev tools (as the image above) but still doesn't recognizing it...

[code]

[2017-02-02 21:07] rayoplateado commented on #9
Hey @cristianstenico, can you please help me out with this issue? https://github.com/johnleider/vue-materials/issues/46 is related to this one. @johnleider has answered me and give me a clue, but I still blocked...

[2017-02-02 21:45] rayoplateado commented on #46
Here you have a jsfiddle where you can see i'm passing dismissible: true but the modal is not dismissible at all...

https://jsfiddle.net/z11fe07p/503/

[2017-02-02 22:33] dzava commented on #46
materialize [renamed `leanmodal`](https://github.com/Dogfalo/materialize/commit/4984e2391fa7ce428d77910c2656835c021d11be) as you can see the overlay class was renamed to `.modal-overlay` but the modal component is not updated so either wait for an update or use version 0.97.6 of materialize.

Use the following to pass options to the modal
[code]

[2017-02-02 22:39] rayoplateado commented on #46
the jsfiddle is using 0.97.6 but doesn't work.

This jsfiddle do the things as you said, but still not working.

https://jsfiddle.net/rayoplateado/rq0q3fro/

[2017-02-02 22:41] dzava commented on #46
It's using version 0.98 of the css though.

[2017-02-02 22:43] rayoplateado commented on #46
Man. YOU SAVE MY DAY!

[2017-02-07 22:33] fersnapshot commented on #34
I have the same problem "The ID of the dropdown list is not dynamic".
`
<tr v-for="(item, i) in array">
  <td>
    {{ array.prop }}
  </td>
  <td>
      <v-btn v-dropdown:i :wavesLight="true">{{ array.anotherPropy }}</v-btn>
      <v-dropdown id="i">
        <li v-for="anotherItem in anotherArray">
          <a @click="doAction(item, anotherItem)">{{ anotherItem.prop }}</a>
        </li>
      </v

[2017-02-08 01:11] johnleider commented on #34
Try v-dropdown="i"

[2017-02-08 04:41] Signorini commented on #41
How to put waves into buttons ?

[2017-02-08 09:05] fersnapshot commented on #34
Only the first dropdown is seen
https://jsfiddle.net/fersnapshot/rhjn6s35/1/

[2017-02-09 10:38] rayoplateado opened #47 "click on v-icon inside a dropdown-button make the entire button dissapears"
I was trying to understand what's going on.

I've create a fiddle. It seems pretty ugly, but the wrong behavior is there.

https://jsfiddle.net/rayoplateado/ajpwbmd8/1/

if you run and click on arrow_drop_down, it makes dropdown-button dissapear.

materialize css 0.97.6
materialize js 0.97.6

[2017-02-09 10:44] rayoplateado commented on #47
More info.

If I remove materials-icons from <i> class, doesn't show the icon, obviously, but the behavior is correct.

[2017-02-10 10:28] rayoplateado commented on #47
@johnleider, any clue on this?

[2017-02-13 01:23] oakdays commented on #41
@Signorini I was able to put waves using :wavesLight="true", for example. You can find out the other methods by browsing the mixins, but this should be in the Button documentation.

[2017-02-13 01:24] oakdays commented on #41
@johnleider Can i help somehow?

[2017-02-13 15:43] travisbotello opened #48 "Change v-text key on select options component"
I am using the select component for rendering dynamic select options fed from a json response generated by my laravel backend. Most of the time I'm not using/receiving any key named _text_ instead the keys I'd like to be rendered as v-text are named _productName, clientName, firstname_ and so on.

Is there a way of setting the the v-text key as a property on the select component to get more flexib

[2017-02-13 17:28] johnleider commented on #41
@oakdays Most definitely. Doc updates or minor bug fixes.

[2017-02-14 10:56] travisbotello commented on #48
Suggested feature in pull request:

https://github.com/johnleider/vue-materials/pull/50

[2017-02-14 10:56] #48 closed

[2017-02-14 14:20] travisbotello commented on #45
The same problem also occurs when using v-checkbox. Binding only works in one direction. When using a method for updating the model (e.g. reset forms after submission) v-select and v-checkbox are not being updated in the dom.

Quick fix for v-select is calling `$('select').material_select()` once the model was updated.

You can also wrap it with vue.nextTick to make sure dom is ready:

[code]

[2017-02-14 17:12] travisbotello commented on #45
Adding `v-date-input` to this issue as well. Maybe I am missing something here in general or this issue occurs with a couple of form components.

In my example `v-date-input` is attached to a v-model that is receiving data from an ajax call once a modal is opened. In vue-devtools I can see that the value is updated on the `v-date-input `accordingly but the date on the actual element is not updated

[2017-02-15 02:11] oakdays commented on #41
@johnleider I submitted a pull request to the docs.

[2017-02-19 02:06] jhernandezme opened #51 "Mixin isLoadable not working correctly"
This happens to me when  resources  are still loading, which causes the document.readyState to be **interactive**  and the **DOMContentLoaded** won't be triggered neither and leads to  initializations not working at all.

Maybe `document.readyState !== 'loading'`   would prevent this edge case from happening.
[See Reference](https://developer.mozilla.org/en/docs/Web/API/Document/readyState)
WDYT?

[2017-02-22 20:07] DiegusMiestro opened #53 "Modal Does Not Receive Loop Values"
Hello,

I'm trying to use a modal. With a fixed value it works normally, but I need to insert values dynamically. I can not pass the value to the v-modal in v-btn-link. Here's an example in JsFiddle

https://jsfiddle.net/diegusmiestro/2jxpa363/

[2017-03-01 18:08] mfcarneiro opened #54 "Modal doesn't open"
I'm implementing on my site a modal, I just do a copy and paste to try out but this component aren't working, I guess..

![modaerror](https://cloud.githubusercontent.com/assets/13247083/23473919/b6f97fd0-fe90-11e6-8a46-cd3af9913895.png)

[2017-03-05 01:52] darkylmnx opened #55 "Any plan to drop jQuery for just pure Vue JS ?"
Hi, is there any plan to drop jQuery or do a Vue JS only version ? Because for simple projects it seems a bit overkill to have jQuery imported i think.

[2017-03-07 20:33] zhanghaowx commented on #54
I filed a bug https://github.com/johnleider/vue-materials/issues/38 about this, as a workaround, you should use materializecss < v0.97.8

[2017-03-08 12:17] mfcarneiro commented on #54
Yep, I realize that searching on the documentation again.

I want to now if is possible, this vue-materials will be continued? or I will need to use the vuetify?

I have a site working with this vue-materials and for now, I don't want to change.

Thanks for the reply!

[2017-03-08 13:12] #51 closed

[2017-03-08 13:14] johnleider commented on #54
I know that I need to get back in here but I am just extremely busy. I will try to carve out some time to get one last round of bug fixes and compatibility with the newest version of materializecss.

[2017-03-08 13:14] #23 closed

[2017-03-08 13:31] mfcarneiro commented on #54
No problem John,

I guess this first material layout is more beautiful than vuetify, follows more material design guidelines.

I'm wondering because using vuetify I will need more work to fix my webpage. I really like your work here, glad to know that you will improve and continue.

Thanks for your time guys!

[2017-03-08 13:31] #54 closed

[2017-03-08 14:37] darkylmnx commented on #55
@johnleider the problem of vuetify or other libs i saw out there is that it doesn't use the materialize css stylesheet and by that mean it's not possible to use the same styles for a page using vue and a static page in the same project. With vue-materials, you can beacause you just need to import the materialize stylesheet via sass so you can keep the same custom styles for pages using view and pa

[2017-03-08 14:38] darkylmnx commented on #55
@johnleider and vuetify doesn't use sass wich is disturbing for customisation

[2017-03-08 14:39] johnleider commented on #55
Well think about it. If this was to not use jQuery, then that means I would have to write custom javascript for all of that logic. Then I would have to maintain it against their future updates. As far as not using sass, fair point. I'd argue doing simple style customization's with stylus is not too far off from sass.

[2017-03-08 14:41] johnleider commented on #54
What do you mean the first material layout? Vuetify is actually written 100% to MD spec. The areas that were missed are being properly updated and almost all are being resolved as of next release. I suppose I don't understand your comment.

[2017-03-08 14:44] darkylmnx commented on #55
@johnleider fair point for the jQuery question (and for stylus, though i'm more a sass guy), so my next question is, how would i do using vutify to add cutome colors, i mead like really adding my custom color over the current color like i would do on bulma or bootstrap ? Then, how would i do to use the buttons styles on a static page where : i DO NOT use vue but that is part of the same app ?

[2017-03-08 14:45] darkylmnx commented on #55
@johnleider just like on the components/buttons page of http://johnleider.com/vue-materials-docs/#! i can simply add the color class to the button for it to please what i want this works on component like on normal html

[2017-03-08 14:46] johnleider commented on #55
Excellent question. There are a few ways that you can apply a custom color. For starters, you have access to the entire MD color pallet with custom classes. For changing it at the base, you can utilize one of Vuetify's custom templates and simply updated the theme array. An example can be found [here](https://github.com/vuetifyjs/docs/blob/master/src/stylus/settings/_variables.styl) ,

[2017-03-08 14:55] darkylmnx commented on #55
okay thanks, i'll try this and see where it leads me, though the stylus will really be a pain in the ass haha. Thanks.

[2017-03-08 15:08] mfcarneiro commented on #54
Just a Thought John,

When I mean first material, it's vue-materials instead haha.

For me, vue-materials is more beautiful than vuetify comparing the documentations examples, just it..

[2017-03-08 15:12] johnleider commented on #54
I'm not trying to convince you to use Vuetify, I'm simply more focused on that project than this.

[2017-03-08 16:26] travisbotello commented on #45
This issue is still not resolved...however here is an example of a materialize select box that is updating its view in both directions. (user <=> data) Unfortunately I am not having the time right now to incorporate this into vue-materialize but maybe this can be used as a starting point:

http://stackoverflow.com/a/40115900/997951

[2017-03-08 17:50] mfcarneiro commented on #54
I know man,

I just telling what I'm thinking..

[2017-03-09 01:26] #38 closed

[2017-03-09 01:32] johnleider commented on #34
Pass it dynamically in by using ```v-dropdown="{ value: i }"```

[2017-03-09 01:32] #34 closed

[2017-03-09 01:33] #42 closed

[2017-03-09 01:44] johnleider commented on #43
Try ```<v-checkbox v-for="item in products" :name="item.id" :value-v="item.id" v-model="checked">{{ item.name }}</v-checkbox>```

[2017-03-09 01:44] #43 closed

[2017-03-09 02:08] #45 closed

[2017-03-09 02:09] #44 closed

[2017-03-09 02:09] #40 closed

[2017-03-09 02:09] johnleider commented on #41
Merged.

[2017-03-09 02:09] #41 closed

[2017-03-09 02:10] johnleider commented on #46
This has been fixed.

[2017-03-09 02:10] #46 closed

[2017-03-09 02:12] johnleider commented on #47
This seems to be fixed with 0.98 materialize.

[2017-03-09 02:12] #47 closed

[2017-03-09 02:16] johnleider commented on #53
You can now do this with ```v-modal="{ value: 'your value' }"```

[2017-03-09 02:16] #53 closed

[2017-03-09 10:25] travisbotello opened #56 "V-Date not being updated by model after init"
I think this is related to https://github.com/johnleider/vue-materials/issues/45

V-Date is not being updated when the model changes after init/creation. This bug is very crucial since model updates via ajax can be deferred or happen later on user interaction. See this little fiddle which isolates the issue:

https://jsfiddle.net/789dcp80/2/

[2017-03-09 11:58] travisbotello opened #57 "v-checkbox not being updated on user action"
Initial value is set correctly based on model but all user interactions are not reflected. See this fiddle:

https://jsfiddle.net/789dcp80/5/

[2017-03-13 00:01] oakdays opened #58 "closeable v-chip doesn't seem to be working"
While browsing the Chip section of the documentation, i noticed that the v-chip component with the close property is not being closed and seems to be visually not aligned as well. This seems to be an issue with a v-icon inside the div with the chip class. I think the component would work if the v-icon had the "close" class, guessing from the Materialize documentation.

[code]
However, there is cod

[2017-03-29 12:04] alexanderstoev commented on #58
I've seen this too.
Minor change is needed in the v-icon component to include "close" prop and the v-chip component to send it.
The code you've proposed for the chip component will always set the close class.
This can be good or bad depending on the point of view :)

[2017-03-31 15:09] oakdays commented on #58
Yeah it will always set but if you want the chip to be closeable you want the icon with the class.
I'm pretty sure @johnleider would appreciate any help. Maybe show a jsfiddle with the working code?

[2017-03-31 16:47] johnleider commented on #58
Could you please provide a display of the code with jsfiddle, jsbin, codepen or something of the sort please.

[2017-04-29 08:32] sierrakilo commented on #53
Any chance of an example on how to use the ready function?
I have this working:
<v-btn-link v-modal:modal-assignment="{ ready: modalAssignmentOpen('1', item.itemType.code, item.itemNumber) }">-- Assign Student --</v-btn-link>
which calls my function but I need to get the modal as per docs on materialise website
So i tried this:
<v-btn-link v-modal:modal-assignment="{ ready: function(modal, trigger

[2017-06-23 13:53] arturcesarmelo opened #59 "Problem with modal"
i have a button which trigger a function. This function pass to data some attributes and open the modal. That's what i expected, not what i got.

First o fall: The modal is shown, no hidden.

Here is how i'm declaring the modal HTML:

![captura de tela 2017-06-23 as 10 49 07](https://user-images.githubusercontent.com/18191910/27485090-c6811e48-5801-11e7-9dfc-db487800a4b3.png)

Here is what i'm got

[2017-08-16 05:59] ClannadBred commented on #59
My v-modal element is not working....the modal is not shown. Should I init the v-modal in my script ?

[2017-09-08 11:15] chiztorismo opened #60 "Documentation"
Hi,
Nice work you are doing here. Well done.
Can a documentation be created for this project and as the project matures we can fix the documentation.

Do you think thats a good idea?

Thank you.

[2017-09-15 12:39] bhasunjaya opened #61 "v-side-nav should be rendered as <div> not <ul>"

[2017-09-16 13:29] alexnbferreira commented on #59
From looking at the commits on the official Materialize page, it appears this issue is fixed if you add "modal-trigger" to the class of the buttons/links supposed to open modals.

[2017-09-18 12:27] kantsubodh commented on #57
I am also facing same issue.

[2017-10-05 07:04] Mavyre opened #62 "Add FeatureDiscovery support"
We should be able to use http://materializecss.com/feature-discovery.html without problem. Currently, even using jQuery, it's impossible to have FeatureDiscovery working...

[2017-10-11 12:12] iMomen opened #63 "How can I use it with locale"
Is there is an option to add locale support for text in select?

[2017-10-15 04:36] coleHafner commented on #59
I tried that and still nothing.

STR:
- Add the following markup
[code]

Expected:
- Clicking the `.modal-trigger` button would trigger the modal

Actual:
- Nothing

Am I missing something?

[2017-10-16 11:35] Mavyre commented on #62
Got it working, just missed some things in the official documentation.

[2017-10-16 11:35] #62 closed